<br>
<div class="card">
  <div class="card-header alpha beta">
    Produtos em Falta
  </div>
  <div class="card-body">

      
          
    <button type="button" (click)="gerarRelatorio()" class="btn alpha beta">Visualizar Produtos em Falta</button>
    <br><br>
      
      <div class="col-xs-12 table-responsive">

        <table class="table table-striped">
          <thead>
          <tr>
            <th class="text-center">Código Produto</th>
            <th class="text-center">Produto</th>
            <th class="text-center">Quantidade Atual</th>
            <th class="text-center">Quantidade Mínima</th>
            
          </tr>
          </thead>
          <tbody>
              <tr *ngFor="let p of produtos">
                  <td class="text-center">{{p.cb}}</td>
                  <td class="text-center">{{p.nomeProduto}}</td>
                  <td class="text-center">{{p.qtdProd}}</td>
                  <td class="text-center">{{p.qtdMinProd}}</td>
                  
              </tr>
          </tbody>
        </table>
    </div>
    

  </div>
</div>
